p Hello!
= "The ticket #{@ticket.title} for the project #{@project.name} has been updated."
br
= "User #{@comment_creator.name} wrote: #{@comment.text}"
br
= "You can view this ticket online by going to: #{project_ticket_url(@project, @ticket)}"
